<nav class="navbar navbar-expand-md navbar-light bg-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggle" aria-controls="toggle" aria-control="toggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggle">
        <a class="navbar-brand" href="#">Job Test</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-link">
                <a class="nav-link translate" style="cursor:pointer;" id="en-gb">English</a>
            </li>
            <li class="nav-link">
                <a class="nav-link translate" style="cursor: pointer" id="ru-ru">Русский</a>
            </li>
            <li class="nav-link">
               <a href="/registration.php" class="nav-link"><span class="lang" key="registration">Registration </span></a>
            </li>
            <li class="nav-link">
               <a href="/login.php" class="nav-link"><span class="lang" key="signIn">Sign in </span></a>
            </li>
            <li class="nav-link">
                <a href="/logout.php" class="nav-link"><span class="lang" key="signOut">Sign out </span></a>
            </li>
        </ul>
    </div>
</nav>