
<form method="post" action="registered.php">
    <div class="form-group">
        <label for="UserLogin" class="lang" key="UserLogin">Enter your login</label>
        <input name="login" type="text" class="form-control" id="UserLogin" aria-describedby="loginHelp" pattern="[a-z0-9]+" minlength="3" maxlength="20" required>
        <small id="loginHelp" class="form-text text-muted lang" key="loginHelp" >Login must be from 3 to 20 characters length. You can use only english letters and digits.</small>
    </div>
    <div class="form-group">
        <label for="UserPassword" class="lang" key="UserPassword">Password</label>
        <input name="password" type="password" class="form-control" id="UserPassword" placeholder="Password" pattern="[a-z0-9]+" required minlength="6" maxlength="20">
        <small id="passwordHelp" class="form-text text-muted lang" key="passwordHelp">Password must be from 6 to 20 english letters and digits.</small>
    </div>
    <div class="form-group">
        <label for="InputEmail1" class="lang" key="emailAddress">Email address</label>
        <input name="email" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        <small id="emailHelp" class="form-text text-muted lang" key="emailHelp">We'll never share your email with anyone else.</small>
    </div>
    {#<div class="form-group">
        <label for="attachFile" class="lang" key="attachFile">Attach Image</label>
        <input name="avatar" type="file" class="form-control-file" id="attachFile" required>
        <small id="attachFileHelp" class="form-text text-muted lang" key="attachFileHelp">Format of image must be GIF, PNG or JPG</small>
    </div>#}
    <button type="submit" class="btn btn-primary lang" key="userSubmit">Submit</button>
</form>