<!doctype html>
<html lang="en">
<head>
    {% include 'blocks/meta.html.twig' %}
    <title>Login</title>
</head>
<body>

{% include '/blocks/navbar.html.twig' %}
<div class="container">
    <div class="h1 text-center mt-3 lang" key="fillForm">Fill authorization form</div>
    {% include '/blocks/loginForm.html.twig' %}
    {% include 'blocks/errors.html.twig' %}
</div>
<script src="/assets/js/language.js"></script>
</body>
</html>