<!doctype html>
<html lang="en">
<head>
    {% include 'blocks/meta.html.twig' %}
    <title>{{ UserLogin }} profile</title>
    <style>
        .userPic{
            max-width:300px;
        }
    </style>
</head>
<body>
{% include '/blocks/navbar.html.twig' %}
<div class="container mt-4">
    <div class="h1 text-center"><span class="lang" key="profile">Profile</span> {{ UserLogin }}</div>
    <hr>
    <div class="text-center">
        <img class="userPic" src="{{ UserPic }}">
    </div>
    <hr>
    <div class="text-center" key="emailAddress"><span class="lang" key="emailAddress">Email</span>: {{ UserEmail }}</div>

    <hr>
</div>
<script src="/assets/js/language.js"></script>
</body>
</html>