<!doctype html>
<html lang="en">
<head>
    {% include 'blocks/meta.html.twig' %}
    <title>User form</title>
</head>
<body>
{% include "blocks/navbar.html.twig" %}
<div class="container">
    <div class="h3 text-center lang" key="RegistrationForm">Registration form</div>
    <hr>
    {% include 'blocks/registrationForm.html.twig' %}
    {% include 'blocks/errors.html.twig' %}
</div>
<script src="/assets/js/language.js"></script>
</body>
</html>